/* Global Styles */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

/* Utilities */
/* Utilities: Footer */
.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Utilities: Navbar */
.navbar {
    background-color: black;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-item {
    margin-right: 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.nav-item:hover {
    text-decoration: underline;
}

/* Home Page Styles */
.home-container {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('https://static.vecteezy.com/system/resources/previews/027/536/321/original/light-bulb-light-bulb-light-bulb-transparent-background-ai-generative-free-png.png') no-repeat center center;
    background-size: cover;
    opacity: 0.025; 
}

.content {
    position: relative;
    text-align: center;
    z-index: 1;
    top: -80px; /* Move the text upwards */
}

.lumen-title {
    font-size: 15rem;
    color: rgba(0, 0, 0, 0); /* Make the inner part completely transparent */
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.letter {
    position: relative;
    display: inline-block;
    -webkit-text-stroke: 2px rgba(255, 165, 0, 0.1); /* Slightly visible bronze outline */
    color: transparent; /* Transparent interior */
    transition: -webkit-text-stroke 0.1s ease, clip-path 0.1s ease;
}

.letter::before {
    content: attr(data-letter);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-text-stroke: 2px rgba(255, 165, 0, 0.3); /* Initial bronze outline */
    clip-path: circle(0% at var(--x) var(--y));
    transition: clip-path 0.05s ease, -webkit-text-stroke 0.05s ease;
}

.letter:hover::before {
    clip-path: circle(50% at var(--x) var(--y));
    -webkit-text-stroke: 2px rgba(255, 165, 0, 1); /* Brighter bronze outline on hover */
}

.sign-in-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.sign-in-button:hover {
    background-color: black;
    color: white;
}
